@font-face{
	font-family:"ElektraTextPro_R";
	font-style:normal;
	font-weight:400;
	src:url("../font/ElektraTextPro_R.otf") format("truetype");
}
@font-face{
	font-family:"ElektraTextPro_B";
	font-style:normal;
	font-weight:800;
	src:url("../font/ElektraTextPro_B.otf") format("truetype");
}
*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
	outline: none;
}
body{
	font-family: "ElektraTextPro_R", sans-serif;
	font-weight: 400;
}
.container{
	max-width: 1139px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.top-header{
	background: rgb(108,108,108);
	background: -moz-linear-gradient(left, rgba(108,108,108,1) 0%, rgba(108,108,108,1) 50%, rgba(61,61,61,1) 50%, rgba(61,61,61,1) 100%);
	background: -webkit-linear-gradient(left, rgba(108,108,108,1) 0%,rgba(108,108,108,1) 50%,rgba(61,61,61,1) 50%,rgba(61,61,61,1) 100%);
	background: linear-gradient(to right, rgba(108,108,108,1) 0%,rgba(108,108,108,1) 50%,rgba(61,61,61,1) 50%,rgba(61,61,61,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c6c6c', endColorstr='#3d3d3d',GradientType=1 );
}
/*.container:after{
	content: "";
	clear: both;
	display: block;
}*/
.logo-block{	
	background: #6c6c6c;
	height: 112px;
	padding: 15px 10px 21px 0;
}
.logo-block >a.logo,
.logo-block > h1{
	display: inline-block;
}
.logo-block > h1{
	width: 165px;
	font-size: 12px;
	color: #fff;
	vertical-align: bottom;
	margin-left: 7px;
	font-weight: 400;
}
.contact-wrap{
	height: 112px;
	background: #3d3d3d;
	padding: 17px 0 17px 20px;
}
.contact-block{
	display: inline-block;
	position: relative;
	padding-right: 15px;
	margin-right: 10px;
	font-size: 12px;
	float: left;
}
.contact-block:last-child{
	padding-right: 0;
}
.contact-block:after{
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	width: 1px;
	height: 61px;
	background: #555555;
	-o-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.contact-block:last-child:after{
	display: none;
}
.contact-icon{
	font-size: 20px;
	margin-right: 10px;
	color: #fff;
}
[class^="icon-"]:before, [
class*=" icon-"]:before{
	margin: 0;
}
.icon-pdf-file{
	font-size: 20px;
}
.contact-text{
	color: #fff;
	display: block;
	line-height: 26px;
}
.icon-block,
.text-block{
	float: left;
}
select.city{
	display: inline-block;
	border: 1px solid #fff;
	color: #fff;
	background: transparent;
	font-size: 12px;
	outline: none;
	cursor: pointer;
	margin: 13px 0 10px;
	padding: 3px 7px;
}
.loc-block{
	text-align: center;
}
.loc-block > a{
	color: #fff;
	padding: 2px 10px;
	display: inline-block;
}
.loc-block > a.active{
	background-color: #f4d50f;
	color: #202020;
}
.main-nav{
	background-color: rgba(38,38,38,.92);	
}
.main-nav > ul{
	width: 1139px;
	margin: 0 auto;
	line-height: 52px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main-nav > ul > li{
	display: inline-block;
	border-bottom: 3px solid transparent;
	border-top: 3px solid transparent;
}
.main-nav > ul > li.active{
	border-bottom: 3px solid #fff;
}
.main-nav > ul > li:first-child{
	margin-left: 0;
}
.main-nav > ul > li > a{
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	display: block;
}
.main-nav > ul > li > a > span{
	font-size: 7px;
	vertical-align: super;
	color: #f4d50f;
	margin-left: 3px;
	line-height: 1;
}
button.download{
	font: 400 14px "ElektraTextPro_R", sans-serif;
	display: inline-block;
	background: #fff;
	border: 1px solid #f4d50f;
	color: #000;
	padding: 10px 37px 10px 12px;
	position: relative;
	cursor: pointer;
	height: 38px;
}
button.download span{
	position: absolute;
	top: 50%;
	right: 8px;
	width: 21px;
    height: 26px;
    background: url('../img/pdf.png') 0 0 repeat;
    -o-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.mask{
	position: absolute;
	background: #000 url('../img/000000.png') 0 0 repeat;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: .6;
}
.start-slider{
	background: url('../img/start-bg.png') 0 0 no-repeat;
	background-size: cover;
	position: relative;
}
.start-slider .text-block{
	width: 100%;
	max-width: 765px;
	height: 407px;
	display: flex;
    align-items: center;
    position: relative;
}
.start-section .container{	
	z-index: 10;
	position: relative;
}
.start-slider .slider-text{
	font: 800 30px "ElektraTextPro_B", sans-serif;
	text-transform: uppercase;
	color: #fff;
	padding: 20px 0 20px 20px;
	position: relative;
}
.start-slider .slider-text.rect:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 182px;
	background: #f4d50f;
	z-index: -1;
}
.start-slider .form-block{
	position: relative;
    max-width: 374px;
    width: 100%;
    padding: 30px 0 30px 35px;
}
.start-slider .form-container{
	position: relative;
	z-index: 10;
	height: 100%;
}
.start-slider .form-bg{
	z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(255,255,255,.2);
}
.start-slider.slick-slide{
	overflow: hidden;
}
form.price{
	width: 340px;
	height: 100%;
	background-color: #fff;
	text-align: center;
	padding: 25px 25px 0;
	-webkit-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.48);
	-moz-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.48);
	box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.48);
}
.form-heading{
	font: 800 24px "ElektraTextPro_B", sans-serif;
	color: #333333;
	margin-bottom: 10px;
}
.form-text{
	color: #333333;
	font-size: 22px;
	margin-bottom: 10px;
}
.form-input{
	height: 44px;
	line-height: 44px;
	width: 100%;
	border: 1px solid #e2e2e2;
	margin-bottom: 10px;
	outline: none;
	padding-left: 20px;
}
.submit-btn{
	font: 400 14px "ElektraTextPro_R", sans-serif;
	margin: 5px 0 15px;
	height: 46px;
	width: 100%;
	color: #2a2a2a;
	background-color: #f4d50f;
	outline: none;
	border: none;
	cursor: pointer;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.31);
}
.start-slider .control{
	position: absolute;
	bottom: 0;
	right: 0;
}
.start-slider .control .slick-arrow{
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 40px;
	text-align: center;
	background-color: rgba(244,213,15,.7);
	border: none;
	outline: none;
	margin: 2px;
	font-size: 26px;
	cursor: pointer;
}
.start-slider .control .slick-arrow.prev{
	-o-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
#text{
	max-width: 848px;
	width: 100%;
	padding-top: 40px;
}
#sidebar{
	max-width: 261px;
	width: 100%;
}
#text h2,
#sidebar h2{
	font-size: 30px;
	font-weight: 400;
	color: #333333;
	width: 100%;
	text-align: center;
	display: inline-block;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 25px;
}
#text h2:after,
#sidebar h2:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 64px;
	height: 2px;
	background-color: #cecece;
	-o-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
#text .video-block .video{
	position: relative;
}
.video-block .play{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-o-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.video-block .play > span{
	font-size: 16px;
	color: #fff;
}
.play .icon-play{
	display: inline-block;
	width: 100%;
	font-size: 50px;
	color: #f4d50f;
	margin-bottom: 10px;
}
#sidebar{
	padding-top: 40px;
}
.sidebar-heading{
	font-size: 18px;
	color: #333333;
	line-height: 24px;
	border-left: 2px solid #f4d50f;
	padding-left: 10px;
	margin-bottom: 15px;
}
.sidebar-slider{
	margin-bottom: 40px;
	position: relative;
}
.sidebar-slider .img-box{
	height: 196px;
	position: relative;
}
.img-box > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#sidebar .thumbnail{
	display: block;
	height: 320px;
}
#sidebar .thumbnail .caption{
	padding: 45px 10px 0;
	background-color: #f4d50f;
	color: #333333;
	height: 100%;
}
#sidebar .caption .caption-heading{
	width: 100%;
	display: inline-block;
	font: 800 16px "ElektraTextPro_B", sans-serif;
	margin-bottom: 10px;
}
#sidebar .caption .text{
	font-size: 14px;
}
#sidebar .caption .text .num{
	font-size: 20px; 
}
.sidebar-slider .slick-arrow{
	position: absolute;
	bottom: 2px;
	width: 30px;
	height: 30px;
	background: #ffdf40;
	font-size: 20px;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
}
.sidebar-slider .slick-arrow.next{
	right: 0;
}
.sidebar-slider .slick-arrow.prev{
	right: 32px;
	z-index: 1;
	-o-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.reviews .message{
	font-size: 16px;
	margin-top: 10px;
	font-style: italic;
	font-weight: 200;
}
#sidebar .partners ul{
	text-align: center;
}
#sidebar .partners ul > li{
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
	border: 1px solid #d7d7d7;
}