@font-face{
	font-family:"ElektraTextPro_R";
	font-style:normal;
	font-weight:400;
	src:url("../font/ElektraTextPro_R.otf") format("truetype");
}
@font-face{
	font-family:"ElektraTextPro_B";
	font-style:normal;
	font-weight:800;
	src:url("../font/ElektraTextPro_B.otf") format("truetype");
}
*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
	outline: none;
}
body{
	font-family: "ElektraTextPro_R", sans-serif;
	font-weight: 400;
}
.container{
	max-width: 1139px;
    width: 100%;
    margin: 0 auto;
}
.flex-between{	    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;   
}
.flex-center{	 
	-webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.top-header, .footer{
	background: rgb(108,108,108);
	background: -moz-linear-gradient(left, rgba(108,108,108,1) 0%, rgba(108,108,108,1) 50%, rgba(61,61,61,1) 50%, rgba(61,61,61,1) 100%);
	background: -webkit-linear-gradient(left, rgba(108,108,108,1) 0%,rgba(108,108,108,1) 50%,rgba(61,61,61,1) 50%,rgba(61,61,61,1) 100%);
	background: linear-gradient(to right, rgba(108,108,108,1) 0%,rgba(108,108,108,1) 50%,rgba(61,61,61,1) 50%,rgba(61,61,61,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c6c6c', endColorstr='#3d3d3d',GradientType=1 );
}
/*.container:after{
	content: "";
	clear: both;
	display: block;
}*/
.logo-block, 
.footer-logo{	
	background: #6c6c6c;
	padding: 15px 10px 21px 0;
}
.footer-logo{
	max-width: 388px;
	width: 100%;
}
.logo-block >a.logo,
.logo-block > h1,
.footer-logo > .logo{
	display: inline-block;
}
.logo-block > h1{
	width: 165px;
	font-size: 12px;
	color: #fff;
	vertical-align: bottom;
	margin-left: 7px;
	font-weight: 400;
	display: inline-block;
}
.contact-wrap{
	background: #3d3d3d;
	padding: 17px 0 17px 20px;
}
.contact-block{
	display: inline-block;
	position: relative;
	padding-right: 15px;
	margin-right: 10px;
	font-size: 12px;
	float: left;
}
.contact-block:last-child{
	padding-right: 0;
}
.contact-block:after{
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	width: 1px;
	height: 61px;
	background: #555555;
	-o-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.contact-block:last-child:after{
	display: none;
}
.contact-icon{
	font-size: 20px;
	margin-right: 10px;
	color: #fff;
}
[class^="icon-"]:before, [
class*=" icon-"]:before{
	margin: 0;
}
.icon-pdf-file{
	font-size: 20px;
}
.contact-text{
	color: #fff;
	display: block;
	line-height: 26px;
}
.icon-block,
.text-block{
	float: left;
}
select.city{
	display: inline-block;
	border: 1px solid #fff;
	color: #fff;
	background: transparent;
	font-size: 12px;
	outline: none;
	cursor: pointer;
	margin: 13px 0 10px;
	padding: 3px 7px;
}
.loc-block{
	text-align: center;
}
.loc-block > a{
	color: #fff;
	padding: 2px 10px;
	display: inline-block;
}
.loc-block > a.active{
	background-color: #f4d50f;
	color: #202020;
}
.main-nav{
	background-color: rgba(38,38,38,.92);	
}
.main-nav > ul{
	width: 1139px;
	margin: 0 auto;
	line-height: 52px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main-nav > ul > li{
	display: inline-block;
	border-bottom: 3px solid transparent;
	border-top: 3px solid transparent;
}
.main-nav > ul > li.active{
	border-bottom: 3px solid #fff;
}
.main-nav > ul > li:first-child{
	margin-left: 0;
}
.main-nav > ul > li > a{
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	display: block;
}
.main-nav > ul > li > a > span{
	font-size: 7px;
	vertical-align: super;
	color: #f4d50f;
	margin-left: 3px;
	line-height: 1;
}
button.download{
	padding: 10px 37px 10px 12px;	
}
button.white{
	font: 400 14px "ElektraTextPro_R", sans-serif;
	display: inline-block;
	background: #fff;
	border: 1px solid #f4d50f;
	color: #000;
	position: relative;
	cursor: pointer;
	height: 38px;
}
button.download span{
	position: absolute;
	top: 50%;
	right: 8px;
	width: 21px;
    height: 26px;
    background: url('../img/pdf.png') 0 0 repeat;
    -o-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
button.more{
	padding: 10px 40px 10px 25px;
}
button.more > i{
	position: absolute;
	top: 50%;
	right: 15%;
	font-size: 12px;
	-o-transform: rotate(90deg) translate(-50%, 0);
	-webkit-transform: rotate(90deg) translate(-50%, 0);
	-moz-transform: rotate(90deg) translate(-50%, 0);
	transform: rotate(90deg) translate(-50%, 0);
}
.mask{
	position: absolute;
	background: #000 url('../img/000000.png') 0 0 repeat;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: .6;
}
.start-slider{
	background: url('../img/start-bg.png') 0 0 no-repeat;
	background-size: cover;
	position: relative;
}
.start-slider .text-block{
	width: 100%;
	max-width: 765px;
	height: 407px;
	display: flex;
    align-items: center;
    position: relative;
}
.start-section{
	overflow: hidden;
	position: relative;
}
.start-section .container{	
	z-index: 10;
	position: relative;
}
.start-slider .slider-text{
	font: 800 30px "ElektraTextPro_B", sans-serif;
	text-transform: uppercase;
	color: #fff;
	padding: 20px 0 20px 20px;
	position: relative;
}
.start-slider .slider-text.rect:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 182px;
	background: #f4d50f;
	z-index: -1;
}
.start-section .form-block{
	position: relative;
    max-width: 374px;
    width: 100%;
    padding: 30px 0 30px 35px;
}
.start-section .form-container{
	position: relative;
	z-index: 10;
	height: 100%;
}
.start-section .form-bg{
	z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(255,255,255,.2);
}
.about-section .text-bg{
	z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(255,255,255,.1);
}
.start-slider.slick-slide{
	overflow: hidden;
}
.start-form{
	width: 340px;
	overflow: hidden;
	background-color: #fff;
	text-align: center;
	padding: 25px 25px 0;
	-webkit-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.48);
	-moz-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.48);
	box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.48);
}
.start-form .form-heading{
	font: 800 24px "ElektraTextPro_B", sans-serif;
	color: #333333;
	margin-bottom: 10px;
}
.start-form .form-text{
	color: #333333;
	font-size: 22px;
	margin-bottom: 10px;
}
.start-form .form-input{
	height: 44px;
	line-height: 44px;
	width: 100%;
	border: 1px solid #e2e2e2;
	margin-bottom: 10px;
	outline: none;
	padding-left: 20px;
}
.start-form .submit-btn,
form.question .submit-btn {
	font: 400 14px "ElektraTextPro_R", sans-serif;
	margin: 5px 0 25px;
	height: 46px;
	width: 100%;
	color: #2a2a2a;
	background-color: #f4d50f;
	outline: none;
	border: none;
	cursor: pointer;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.31);
}
.start-form .form-text:last-child{
	margin-bottom: 25px;
}
.start-slider .control{
	position: absolute;
	bottom: 0;
	right: 0;
}
.start-slider .control .slick-arrow{
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 40px;
	text-align: center;
	background-color: rgba(244,213,15,.7);
	border: none;
	outline: none;
	margin: 2px;
	font-size: 26px;
	cursor: pointer;
}
#content{
	padding-top: 30px;
}
.start-slider .control .slick-arrow.prev{
	-o-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
#text{
	max-width: 848px;
	width: 100%;
}
#sidebar{
	max-width: 261px;
	width: 100%;
}
#text section{
	margin-bottom: 35px;
}
#text h2,
section h2,
#sidebar h2{
	font-size: 30px;
	font-weight: 400;
	color: #333333;
	width: 100%;
	text-align: center;
	display: inline-block;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

#text h2:after,
#sidebar h2:after,
section h2:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 64px;
	height: 2px;
	background-color: #cecece;
	-o-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
#text .video-block .video{
	position: relative;
}
.video-block .play{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-o-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.video-block .play > span{
	font-size: 16px;
	color: #fff;
}
.play .icon-play{
	display: inline-block;
	width: 100%;
	font-size: 50px;
	color: #f4d50f;
	margin-bottom: 10px;
}
#sidebar{
	padding-top: 40px;
}
.sidebar-heading{
	font-size: 18px;
	color: #333333;
	line-height: 24px;
	border-left: 2px solid #f4d50f;
	padding-left: 10px;
	margin-bottom: 15px;
}
.sidebar-slider{
	margin-bottom: 40px;
	position: relative;
}
.sidebar-slider .img-box{
	height: 196px;
	position: relative;
}
.img-box > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#sidebar .thumbnail{
	display: block;
	height: 320px;
}
#sidebar .thumbnail .caption{
	padding: 45px 10px 0;
	background-color: #f4d50f;
	color: #333333;
	height: 100%;
}
#sidebar .caption .caption-heading{
	width: 100%;
	display: inline-block;
	font: 800 16px "ElektraTextPro_B", sans-serif;
	margin-bottom: 10px;
}
#sidebar .caption .text{
	font-size: 14px;
}
#sidebar .caption .text .num{
	font-size: 20px; 
}
.sidebar-slider .slick-arrow,
.certificate-slider .slick-arrow{
	position: absolute;
	bottom: 2px;
	width: 30px;
	height: 30px;
	background: #ffdf40;
	font-size: 20px;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
}
.sidebar-slider .slick-arrow.next,
.certificate-slider .slick-arrow.next{
	right: 0;
}
.sidebar-slider .slick-arrow.prev,
.certificate-slider .slick-arrow.prev{
	right: 32px;
	z-index: 1;
	-o-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.reviews .message{
	font-size: 16px;
	margin-top: 10px;
	font-style: italic;
	font-weight: 200;
}
#sidebar .partners ul{
	text-align: center;
}
#sidebar .partners ul > li{
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
	border: 1px solid #d7d7d7;
}
.reasons-section{
	font-size: 15px;
	color: #333;
}
.reasons-block{
	margin: 0 -15px;
	overflow: hidden;
}
.reasons-block .reasons-box{
	display: inline-block;
	height: 126px;
	width: 33.33333333%;
	float: left;
	padding: 0 15px;
	margin-bottom: 30px;
}
.reasons-box .reasons{
	display: flex;
	align-items: center;
	padding: 0 0 0 22px;
	height: 100%;
	border: 1px solid #fbc743;
}
.reasons-box:hover .reasons{
	background: #333;
	border: 1px solid #333;
}
.reasons-box:hover .reasons p{
	color: #fff;
}
.reasons-box .reasons > i{
	font-size: 50px;
	color: #fbc743;
	margin-right: 5px;
}
.reasons-box .reasons > p{
	color: #333;
}
.reasons-text-block{
	padding-right: 10px;
}
.reasons-text-block > .text > i,
.gilyatina-advantages > li > i{
	margin-right: 7px;
	color: #f4d50f;
	font-size: 16px;
}
.reasons-text-block > .text{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.reasons-text-block button.more{
	margin: 20px auto 0;
	display: block;
}
.slogan-block{
	padding: 55px 65px;
	background: url('../img/slogan-bg.jpg') 0 0 no-repeat;
	background-size: cover;
}
.slogan-block .slogan{
	background: #f4d50f;
	padding: 25px 45px;
}
.slogan-block .slogan h3{
	font: 800 38px "ElektraTextPro_B", sans-serif;
	color: #333333;
	margin-bottom: 5px;
}
.slogan-block .slogan p{
	color: #333333;
	text-transform: uppercase;
	font-size: 20px;
}
.catalog-section .catalog-wrap{
	overflow: hidden;
}
.catalog-section .catalog-nav{
	width: 200px;
	float: left;
	margin-right: 8px;
}
.catalog-section .catalog-content{
	float: left;
	width: calc(100% - 208px);
	overflow-y: auto; 
}
.catalog-content table{
	width: 100%;
	font-size: 14px;
}
.catalog-content table thead td{
	background-color: #000000;
	color: #fff;
	font-weight: 400;
}
.catalog-content table tr > td:first-child{
	text-align: left;
	padding-left: 23px;
}
.catalog-content table td{
	line-height: 30px;
	background-color: #e7e7e7;
	text-align: center;
}
.catalog-nav .percent{
	display: inline-block;
	width: 25px;
	height: 25px;
	vertical-align: middle;
}
.catalog-nav > li{
	display: block;
	background-color: #e7e7e7;
	border-left: 3px solid #000000;
	margin-bottom: 1px;
}
.catalog-nav > li:hover,
.catalog-nav > li.current{
	background-color: rgba(244,213,15,.5);
	border-left: 3px solid #f4d50f;
}
.catalog-nav > li > a{
	font: 800 14px "ElektraTextPro_B", sans-serif;
	color: #333333;
	line-height: 38px;
	display: flex;
	align-items: center;
	padding-right: 10px;
}
.catalog-nav .label{
	line-height: normal;
}
.catalog-nav .icon{
	min-width: 50px;
	text-align: center;
	margin-right: 5px;
}
.catalog-nav .icon > img{
	vertical-align: middle;
}
.catalog-content{
	display: none;
}
#tab-2{
	display: block;
}
.about-section{
	background: url('../img/about-bg.jpg') 0 0 no-repeat;
	background-size: cover;
	position: relative;
	z-index: 10;
	overflow: hidden;
}
.about-section > .mask{
	z-index: -1;
}
.about-section .about-heading{
	width: 100%;
	max-width: 374px;
	padding-top: 50px;
	text-transform: uppercase;
}
.about-heading h3{
	color: #fff;
	font: 800 38px "ElektraTextPro_B", sans-serif;
	margin-bottom: 20px;
}
.about-heading h3 > span{
	margin-top: 10px;
	display: inline-block;
	font: 400 68px "ElektraTextPro_R", sans-serif;
}
.about-section .about-slogan{
	background-color: #f4d50f;
	padding: 25px 15px;
	font-size: 20px;
	color: #333333;
}
.about-section .text-block{
	padding: 35px 10px 15px;
	position: relative;
    margin-left: 15px;
}
.about-section .text-container{
	position: relative;
	z-index: 10;
}
.about-section .text-container > p{
	color: rgba(255,255,255,.8);
	font-size: 15px;
	margin-bottom: 20px;
}
.footer-logo .logo{
	width: 210px;
}
.footer-logo .logo > img{
	width: 100%;
}
.footer-logo > span{
	width: 150px;
	font-size: 11px;
	color: #fff;
	vertical-align: bottom;
	margin-left: 7px;
	display: inline-block;
}
.footer .copy{
	margin-top: 15px;
	font-size: 11px;
	color: rgba(255,255,255,.8);
}
.footer .contact-wrap{
	max-width: 751px;
	width: 100%;
	position: relative;
}
.footer-nav{
	display: inline-block;
	float: left;
	margin-right: 15px;
}
.footer-nav > li{
	display: block;
    margin: 9px 0px;
}
.footer-nav > li > a{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,.8);
}
.footer-nav > li > a > span {
    font-size: 7px;
    vertical-align: super;
    color: rgba(255,255,255,.8);
    margin-left: 3px;
    line-height: 1;
}
.footer .contact-text{
	max-width: 120px;
}
.footer .low-line{
	line-height: 1;
	margin-bottom: 5px;
}
.footer .contact-block{
	margin-top: 20px;
}
.footer .contact-block .text-block span{

	color: rgba(255,255,255,.8);
}
.footer .dev{
	position: absolute;
	right: 0;
	bottom: 20px;
}
.dev .text > span,
.dev .text > a{
	font-size: 10px;
	color: rgba(255,255,255,.8);
	display: block;
}
.dev .text > a{
	text-transform: uppercase;
	text-decoration: underline;
}
.dev .text{
	margin-right: 15px;
}
.dev .text > a:hover{
	text-decoration: none;
}
.dev .text, 
.footer .dev > img{
	display: inline-block;
	vertical-align: middle;
}
#crumbs{
	width: 100%;
	color: #333333;
	font-size: 16px;
}
#crumbs > a{
	color: #333333;
}
#crumbs .zakarlu{
	margin: 0 5px;
}
#crumbs .zakarlu > i{
	font-size: 12px;
	color: #f3dd53;
	margin: 0 -5px;
}
.row {
	margin: 0 -15px;
	overflow: hidden;
}
.col-3{
	width: 25%;
	float: left;
	padding: 0 15px;
	margin-bottom: 35px;
}
.catalog-page .thumbnail{
	background-color: #f2f2f2;
}
.catalog-page .thumbnail:hover,
.catalog-page .thumbnail:hover > button{
	background-color: #f3dd53;
}
.catalog-page .thumbnail .img-box{
	padding: 15px 10px 0;
}
.catalog-page .thumbnail .caption{		
	color: #333333;
}
.catalog-page .thumbnail > button{
	background-color: #f2f2f2;
	width: 100%;
	height: 39px;
	border: none;
	outline: none;
	cursor: pointer;
	position: relative;
	padding-right: 30px;
}
.thumbnail > button .icon{
	position: absolute;
    top: 50%;
    right: 28%;
    width: 21px;
    height: 26px;
    background: url(../img/pdf.png) 0 0 repeat;
    -o-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.catalog-page .thumbnail img{
	display: inline-block;
    height: 130px;
    width: 100%;
    object-fit: contain;
}
.thumbnail .caption .name{
	width: 100%;
	display: block;
	text-align: center;
	margin: 10px 0;
	font: 800 16px "ElektraTextPro_B", sans-serif;
}
.thumbnail .caption > p{
	font-size: 14px;
}
.catalog-page .thumbnail-inner{
	position: relative;	
	padding: 5px 5px 10px 17px;
	height: 325px;
	flex-direction: column;
	border-bottom: 2px solid #fff;
}
.catalog-page .sub-thumb{
	flex-direction: column;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(243,221,83,.8);
}
.sub-thumb > a{
	color: #333333;
	font-size: 16px;
	display: block;
	margin: 8px 0;
}
.catalog-page .thumbnail:hover .sub-thumb{
	display: flex;
}
.start-section.gilyatina-page{
	position: relative;
	background: url('../img/giyatina-bg.jpg') 0 0 no-repeat;
	background-size: cover;
}
.start-section #crumbs{
	margin-top: 25px;
	color: #fff;
}
.start-section #crumbs > a{
	color: #fff;
}
.gilyatina-start{
	padding: 50px 0;
	color: #fff;
	overflow: hidden;
}
.gilyatina-start > img{
	float: left;
}
.gilyatina-start h3{
	font: 800 38px "ElektraTextPro_B", sans-serif;
	margin-bottom: 5px;
}
.gilyatina-start p{
	display: block;
	float: left;
}
.start-section.gilyatina-page .start-form .form-heading{
	font-size: 18px;
}
.tablepress{
	width: 100%;
	color: #000;
	line-height: 37px;
	margin-bottom: 20px;
}
.tablepress td{	
	background-color: #e7e7e7;
}
.tablepress th{
	background-color: #000;
	color: #fff;
	font-weight: 400;
}
.tablepress tr > td:first-child{
	width: 70%;
	padding-left: 60px;
}
.tablepress tr > td:last-child{
	text-align: center;
}
.gilyatina-advantages > li{
	line-height: 57px;
	color: #333;
	padding-left: 20px;
	border: 1px solid #fbc743;
	margin-bottom: 8px;
}
.gilyatina-advantages > li:hover{
	background-color: #000;
	border: 1px solid #000;
	color: #fff;
}
.gilyatina-cutting{
	overflow: hidden;
	margin: 20px 0;
}
.gilyatina-cutting .icon-block{
	margin-right: 10px;
}
.gilyatina-cutting p{
	line-height: 22px;
	font-size: 18px;
}
.gilyatina-services {
	overflow: hidden;
	margin-bottom: 40px;
}
.gilyatina-services  i{
	font-size: 67px;
	float: left;
	color: #f4d50f;
	margin-right: 25px;
}
.gilyatina-services p{
	font-size: 18px;
}
.thumbnail.for-sale .thumbnail-inner{
	height: 310px;
	background-color: #373737;
	border-bottom: 2px solid #fff;
}
.thumbnail.for-sale .thumbnail-inner > img{
	height: 196px;
	width: 100%;
	object-fit: cover;
}
.thumbnail.for-sale .caption{
	color: rgba(255,255,255,.9);
	padding: 30px 10px 10px;
}
.thumbnail.for-sale .caption > .caption-heading{
	font: 800 16px "ElektraTextPro_B", sans-serif;
	display: inline-block;
	margin-bottom: 8px;
}
.thumbnail.for-sale .caption > .text > span{
	font-size: 20px;
}
.thumbnail.for-sale > button{
	background-color: #f4d50f;
    width: 100%;
    height: 39px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #333333;
}
.about-page .start-form .form-heading{
	font-size: 16px;
}
.start-section.about-page{
	background: url('../img/about-page-bg.jpg') 0 0 no-repeat;
	background-size: cover;
}
.start-section.about-page .about-start{
	min-height: 450px;
	width: 100%;
	position: relative;
}
.play-block{
	z-index: 20;
	cursor: pointer;	
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-o-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.play-block > i{
	color: #f4d50f;
	font-size: 66px;
}
.play-block > span{
	color: #fff;
	font-size: 16px;
	display: block;
	margin-top: 5px;
}
.reasons-box.custom{
	padding: 0 5px 0 13px;
}
.reasons-box.custom p{
	font-size: 14px;
}
.factories-block{
	margin-bottom: 30px;
	text-align: center;
}
.factories-block .factories{
	display: inline-block;
	margin: 0 25px;
}
.factories-block .factories span{
	color: #373737;
	font: 800 30px "ElektraTextPro_B", sans-serif;
	vertical-align: middle;
}
.factories-block .factories .icon{
	width: 40px;
	height: 40px;
	display: inline-block;
	background-color: #f4d50f;
	vertical-align: middle;
	line-height: 40px;
	margin-right: 5px;
}
.factories-block .factories .icon i{
	color: #fff;
	font-size: 20px;
}
.tetra-block{
	display: block;
	overflow: hidden;
	margin-bottom: 35px;
}
.tetra-block > li{
	display: block;
	float: left;
	width: 50%;
	height: 395px;
	position: relative;
}
.tetra-block > li.dark-grey{
	background: url('../img/tetra-bg-1.jpg') 0 0 no-repeat;
	padding: 35px 20px; 
	color: #ffffff;
}
.tetra-block > li.grey{
	background: #ebebeb;
	padding: 65px 0 0 15px;
	font-size: 20px;
	color: #373737;
}
.caret-grey:before {
	content: '';
	position: absolute;
	top: 50%; 
	left: -20px;
	border-right: 20px solid #ebebeb;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	-o-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.tetra-block h4{
	font-size: 24px;
	position: relative;
	width: 100%;
	text-align: center;
	font-weight: 400;
	padding-bottom: 20px;
	margin-bottom: 15px;
}
.tetra-block h4:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 64px;
    height: 2px;
    background-color: #cecece;
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.tetra-block .quote-block{
	margin-bottom: 10px;
	overflow: hidden;
}
.tetra-block .quote-block .num{
	width: 140px;
	text-align: right;
	color: #f4d50f;
	font-size: 24px;
	float: left;
	margin-right: 10px;
}
.tetra-block .quote-block p{
	color: #fff;
	font-size: 16px;
}
.tetra-block > li.yellow{
	padding-top: 95px;
	background-color: #f4d50f;
	color: #373737;
	font-size: 24px;
}
.tetra-block > li.yellow h4:after{
	background-color: #958623;
}
.yellow-grey:before {
	content: '';
  	position: absolute;
  	right: -18px;
  	top: 50%;
  	border-left: 19px solid #f4d50f;
  	border-top: 19px solid transparent;
  	border-bottom: 19px solid transparent;
	-o-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: 2;
}
.certificate-slider{
	position: relative;
	text-align: center;
	height: 100%;
}
.certificate-slider .certificate > img{
	display: inline-block;
}
.certificate-slider .certificate{
	position: relative;
}
.tetra-block > li.yellow h4{
	position: absolute;
	top: 10px;
}
.tetra-block > li .zoom{
	display: none;
	cursor: pointer;
	z-index: 10;
	font-size: 65px;
	position: absolute;
	top: 50%;
	left: 50%;
	-o-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.certificate-slider:hover .zoom{
	display: block;
}
form.question{
	margin-bottom: 45px;
	padding: 35px 45px 10px;
	width: 100%;
	-webkit-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.48);
	-moz-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.48);
	box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.48);
}
form.question .form-heading{
	margin-bottom: 25px;
	text-align: center;
	color: #333333;
	font: 800 20px "ElektraTextPro_B", sans-serif;
}
form.question > input{
	height: 44px;
    line-height: 44px;
    width: 220px;
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
    margin-right: 10px;
    outline: none;
    padding-left: 20px;
}
form.question > .submit-btn{
	width: 220px;
	margin-left: 30px;
}